{% include '_header.html' %}
<form id="reset-password-form" action="/users/{{uid}}/password" method="post">
  <fieldset>
    <legend>Set New Password</legend>
    
    {% if message %}
    <div data-alert class="alert-box alert small-12">
      {{message}}
      <a href="#" class="close">&times;</a>
    </div>
    {% endif %}
    
    <div class="small-12 columns">
      <label><!--  class="error" if error -->
        Old Password
        <input type="password" name="old_password" required autofocus>
      </label>
      <!-- <small class="error">Invalid entry</small>-->
    </div>
    
    <div class="small-12 columns">
      <label><!--  class="error" if error -->
        New Password
        <input type="password" name="password" required>
      </label>
      <!-- <small class="error">Invalid entry</small>-->
    </div>
    
    <div class="small-12 columns">
      <input name="returnTo" type="hidden" value="{{ returnTo }}">
      <input name="dialog" type="hidden" value="reset_password.html">
      {% if uid %}
      <button class="button expand orange" type="submit">Confirm</button>
      {% else %}
      <button class="button expand orange" type="submit" disabled>Confirm</button>
      {% endif %}
    </div>
  </fieldset>
</form>
{% include '_footer.html' %}